.layout-productDetail {
    margin-bottom: 55px;
}

.breadcrumb-shop {
    background: var(--shop-color-bg);
    padding: 0 0px;
}

.breadcrumb-list {
    overflow: hidden;
}

.breadcrumb-list .breadcrumb-arrows {
    font-size: 13px;
    padding: 9px 0;
    background: transparent;
    border-radius: 0;
    margin: 0;
    list-style: none;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;

    border-radius: .25rem;
}

.breadcrumb-list .breadcrumb-arrows > li a {
    color: var(--shop-color-text);
}

.breadcrumb-list .breadcrumb-arrows > li + li::before {
    padding: 0 3px;
    margin-left: 5px;
    color: #ccc;
    font-family: 'FontAwesome';
    content: "/\00a0";
}

.breadcrumb-list .breadcrumb-arrows > li {
    display: inline-block;
}

.container-pd2 {
    display: flex;
    display: -ms-flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.productDetail--gallery {
    width: 55%;
    padding: 15px;

}


.wrapbox-gallery {
    position: relative;
}

.wrapbox-image {
    display: flex;
    border-radius: 4px;
}

.productGallery_thumb {
    width: 100px;


}

.productGallery_slider {
    width: calc(100% - 85px);
    position: relative;
    margin-left: 20px;
}

.productSlick-thumb {
    text-align: center;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-track {
    opacity: 1;
    height: 385px;
    transform: translate3d(0px, 0px, 0px);

}

.slick-slide {
    width: 100%;
    display: block;
    height: auto;
    border: 1px solid transparent;
    float: left;
    min-height: 1px;
}

.product-thumb__item {
    display: block;
    margin-bottom: 8px;
    border: 1px solid #e7e7e7;
}

.product-thumb__item.active {
    border-color: deeppink;
}

.productDetail--content {
    width: 45%;
    padding-left: 15px;
}

.wrapbox-detail {
    padding: 0 15px;

}

.productDetail--content .wrapbox-detail > [class*="product-"] {
    margin-bottom: 15px;
}

.productDetail--content .wrapbox-detail > .quantity-area > .addCart-area {
    flex: 0 0 50%;
    max-width: 50%;
}

.productDetail--content .wrapbox-detail > .quantity-area > .addCart-area > button {
    width: 100%;
    border-radius: 4px;
    padding: 12px 20px;
    outline: none;
    font-weight: 600;
    font-size: 15px;
}

.addCart-area {
    display: flex;
    display: -ms-flex;
    margin-top: 15px;
    width: 100%;
}

.btn-addtocart {
    background: #f7adb9;
    border: 1px solid #f7adb9;
    color: #000;
}

.buy-now {
    background: #f7adb9;
    border: 1px solid #f7adb9;
    color: #000;
    width: 100%;
    border-radius: 4px;
    padding: 12px 20px;
    outline: none;
    font-weight: 600;
    font-size: 15px;
}

.product-heading {
    padding-top: 15px;
}

.product-heading > h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.price-real {
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    padding-right: 10px;
}

.quantity-area {
    display: flex;
    display: -ms-flex;
    align-items: center;

    flex-wrap: wrap;
    width: 100%;
}

.quantity-title {

    width: 100%;
    font-weight: 600;
    margin-bottom: 10px
}

.box-quantity {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn-quantity {
    float: left;
    background: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.btn-quantity > svg {
    display: block;
    width: 12px;
    height: 100%;
    margin: 0 auto;
    fill: #000000;
    transition: all .2s ease-in-out;
}

.quantity-input {
    background: #fff;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    width: 40px;
    padding: 0;
    text-align: center;
    border: none;
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 18px;
    text-decoration: underline;
}

.productDetail--content .wrapbox-detail .product--variants .select-swatch .swatch {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.title-swap {
    width: 20%;
    font-weight: 600;
    margin-bottom: 5px;
    padding-left: 15px;
}

.title-swap > strong {
    font-size: 85%;
    display: block;
    color: #4ea8cd;
    line-height: 1.1;
    padding-bottom: 3px;
}

.select-swap {
    width: 72%;
    display: flex;
    display: -ms-flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-items: center;
    -ms-align-items: center
}

.swatch-element {
    display: inline-block;
    margin: 0 8px 8px 0;
    border-radius: 3px;
    position: relative;
}

.swatch-element label.sd::after {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    right: -1px;
    top: -1px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fffff' d='M0 0h16c2.21 0 4 1.79 4 4v16L0 0z' transform='translate(-804 -366) translate(180 144) translate(484 114) translate(16 80) translate(0 28) translate(124)'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M4.654 7.571L8.88 3.176c.22-.228.582-.235.81-.016.229.22.236.582.017.81L5.04 8.825c-.108.113-.258.176-.413.176-.176 0-.33-.076-.438-.203L2.136 6.37c-.205-.241-.175-.603.067-.808.242-.204.603-.174.808.068L4.654 7.57z' transform='translate(-804 -366) translate(180 144) translate(484 114) translate(16 80) translate(0 28) translate(124) translate(7.5)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.swatch-element label.sd::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: -1px;
    top: -1px;
    border-style: solid;
    border-width: 0px 19px 19px 0px;
    border-color: transparent var(--shop-color-main) transparent transparent;
}

.swatch-element label.sd {
    color: var(--shop-color-main);
    background: #ffff;
    border: 1px solid var(--shop-color-main);
}

.swatch-element label {
    position: relative;
    display: block;
    margin: 0;
    padding: 7px 10px;
    min-width: 70px;
    font-size: 12px;
    font-weight: 500;
    color: var(--shop-color-title);
    background-color: #fff;
    border: 1px solid #bdbfbe;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.swatch-element label span {
    display: block;
    padding: 0 10px;
    overflow: hidden;
    font-weight: 600;
}

.product-description {
    padding: 40px 0;
    background: #f6e2e4;
}

.product-info {
    background: #f6e2e4;
    padding: 15px;
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    margin-top: 15px;
}

.tab-title {
    border-bottom: 2px solid #ededed;
    flex-wrap: nowrap;
}

.title-product {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;

    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
}

.title-product.active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--shop-color-title);
    bottom: -12px;
    left: 0;
}

.nav-tabContent {
    padding-top: 20px;
}

.product-content {
    height: fit-content;
    overflow: hidden;
}

.product-description {
    padding: 40px 0;
    background: #f6e2e4;
}





.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);


    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    z-index: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}
.hidden{
    display: none;
}



